.navbar {
  background-color: #007bff;
}

.navbar-brand {
  font-size: 1.5em;
  color: #ffffff !important;
}

.nav-link {
  color: #ffffff !important;
  margin-right: 1rem;
}

.nav-link:hover {
  color: #f8f9fa !important;
}